*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #F2F2F2;
  font-family: sans-serif; Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 16px;
}

nav {
  margin: 0 auto;
  padding: 3px;
  position: fixed;
  opacity: .89;
  width: 100%;
  background-color: white;
}

span {
  float: right;
  width: 65%;
}

h1 {
  font-size: 18px;
  text-align: left;
}

h2, h3 {
  text-align: left;
  font-size: 14px;
}

h4 {
  text-align: right;
  font-size: 14px;
}

.bus-icon {
  font-size: 25px;
  border-bottom:  0.5px solid #CDCED2;
  padding-top: 15px;
  padding-bottom: 5px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.status {
  text-align: left;
  font-size: 12px;
}

.map {
  width: 100%;
}

.arrow-left {
  font-style: oblique;
  font-size: 16px;
  font-family: sans-serif;
  color: #007AFF;
  float: left;
}

.location {
  padding: 2px;
  border-bottom:  0.7px solid #CDCED2;
  width: 100%;
  float: left;
  background-color: #F2F2F2;
}

.location:hover {
  transition: color 0s ease-in 0s;
  background-color: #92D1DE;
}

.content {
  width: 95%;
}

@media screen and (min-width: 736px)
{
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
  }
}
